<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">

    <link type="image/x-icon" rel="shortcut icon" href="http://chenchuang.github.io/images/icon.ico" />

    <link rel="stylesheet" type="text/css" href="http://chenchuang.github.io/stylesheets/stylesheet.css" media="screen">
    <link rel="stylesheet" type="text/css" href="http://chenchuang.github.io/stylesheets/pygment_trac.css" media="screen">
    <link rel="stylesheet" type="text/css" href="http://chenchuang.github.io/stylesheets/print.css" media="print">

    <title>ChenChuang.github.io by ChenChuang</title>
  </head>

  <body>

    <header>
      <div class="container">
        <h1><a href="http://chenchuang.github.io" class="a-h1">ChenChuang.github.io</a></h1>
        <h2></h2>

        <section id="downloads">
          <a href="https://github.com/ChenChuang" class="btn btn-github"><span class="icon"></span>View on GitHub</a>
        </section>
      </div>
    </header>

    <div class="container">
      <section id="main_content">
      {{ content }}
      </section>
    </div>

    
  </body>
</html>